
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

#home {
    background-image: url(./images/first\ bg);
    background-repeat: no-repeat;
    background-size: cover;
}

#nav {
    background-color: rgb(13, 95, 136);
}
.uni{
    color: rgb(16, 28, 134);
}
#navbarSupportedContent{
    color: rgb(0, 136, 255);
}
#containebody{
    background-color: rgb(255, 145, 0);
}
#base{
    background-image: url(./images/first\ bg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.tools-all{
    background-image: url(./images/blend-color-rainbow-paint-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.footer{
    background-color: rgb(23, 135, 183);
}
.btn{
    border-color: rgb(233, 255, 192);
}

#contact2:hover {
    background-color: rgb(192, 206, 255) !important;
    color: white !important;
    border-color: rgb(192, 215, 255);
}

.iframe{
        width: 100% !important;
        height: 50vh !important;
}

#contact a{
           color: rgb(220, 53, 69) !important;
           font-size: 2rem !important;
           font-weight: 600 !important;
           text-align: center !important;
}